@model JobsListModel
@{
    ViewBag.Title = "Index";
}
<h1>Jobs list</h1>
<form asp-controller="Home" asp-action="Index" method="get">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="SearchString">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" id="button-addon2" type="submit">Search</button>
        </div>
    </div>
</form>
<div class="row">
    <div id="success-alert" class="alert alert-success" style="display:none;">Wooo, You have done it</div>
    <div>
        <div class="table table-sm table-striped table-bordered m-2">
            <div>
                @foreach (var r in Model.Jobs)
                {
                    <div>

                        <p>@r.Id</p>
                        <p>@r.Title</p>
                        <p>@r.Category</p>
                        <button onclick="AddJobToFavourite('@User.Identity.Name', '@r.Title', '@r.Category',@r.Id, '@r.Url')">Dodaj do ulubionych</button>

                    </div>

                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    const AddJobToFavourite = async (userId, title, category, id, url) => {
                                const UserId = userId
                                const Title = title;
                                const Category = category;
                                const Id = id;
                                const Url = url;


                                const requestData = {
                                    UserId,
                                    Title,
                                    Category,
                                    Id,
                                    Url
                                }
                                const response = await fetch('/Api/Adding', {
                                    method: 'POST',
                                    headers: {
                                        'Content-type': 'application/json'
                                    },
                                    body: JSON.stringify(requestData),
                                });

                                const responseJson = await response.json();

                                if (responseJson.success) {
                                    console.log("nice")
                                }

                                return responseJson;

                            };

</script>
